@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster|Playfair+Display:400,700|Poppins:300,400,500,700&display=swap");

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body {
  font-family: 'Roboto', sans-serif
}

.header-section {
  padding: 23px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url("../img/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh
}

.header-section .header-container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center
}

.header-section .header-container .logo-img {
  padding: 30px
}

.header-section .header-container .logo-img img {
  width: 72px;
  margin: 0 auto
}

.header-section .header-container .header-intro {
  padding: 7% 45px 57px 45px;
  color: #ffffff
}

.header-section .header-container .header-intro h1 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding: 20px;
  line-height: 1.4
}

.header-section .header-container .header-intro p {
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  line-height: 1.4
}

.header-section .header-container .button {
  width: 440px;
  margin: 0 auto;
  padding: 20px
}

.header-section .header-container .button a {
  text-decoration: none
}

.header-section .header-container .button a .yellow-button {
  background-color: #bb8840;
  color: #ffffff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 24px;
  border-radius: 50px
}

.header-section .header-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-in-out
}

.header-section .header-container .popup.active {
  visibility: visible;
  background: rgba(0, 0, 0, 0.75);
  opacity: 1
}

.header-section .header-container .popup .popup-container {
  position: relative;
  padding: 30px;
  background-color: #ffffff;
  max-width: 640px;
  margin: 0 auto
}

.header-section .header-container .popup .popup-container .popup-logo img {
  width: 72px
}

.header-section .header-container .popup .popup-container .close-button {
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  cursor: pointer
}

.header-section .header-container .popup .popup-container input {
  padding: 10px;
  border-radius: 3px;
  font-size: 1.4rem;
  width: 80%;
  border: 1px solid #ccc;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  color: #020020
}

.header-section .header-container .popup .popup-container h1 {
  color: #333333;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding: 13px 13px 26px 13px
}

.order-in {
  padding: 114px 12px
}

.order-in .order-in-container {
  max-width: 1120px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex
}

.order-in .order-in-container .left-column {
  width: 30%
}

.order-in .order-in-container .left-column .food-image {
  padding: 20px
}

.order-in .order-in-container .left-column .food-image img {
  width: 100%;
  margin: 0 auto
}

.order-in .order-in-container .right-column {
  width: 70%
}

.order-in .order-in-container .right-column .text {
  padding: 12px 45px
}

.order-in .order-in-container .right-column .text h6 {
  font-family: 'Lobster', cursive;
  font-size: 1.1rem;
  color: #bb8840;
  padding: 20px;
  line-height: 1.4
}

.order-in .order-in-container .right-column .text h3 {
  font-family: 'Playfair Display', serif;
  color: #4b4b4b;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px
}

.order-in .order-in-container .right-column .text p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: #6b6b6b;
  line-height: 1.6;
  padding: 20px
}

.secrets .secrets-container {
  max-width: 1000px;
  margin: 0 auto
}

.secrets .secrets-container .dot {
  text-align: center;
  margin: 0 auto;
  padding: 60px 20px 20px 20px
}

.secrets .secrets-container .dot img {
  width: 55px
}

.secrets .secrets-container .text {
  padding: 12px 45px 35px 45px
}

.secrets .secrets-container .text h6 {
  font-family: 'Lobster', cursive;
  font-size: 1.1rem;
  color: #bb8840;
  padding: 20px;
  text-align: center;
  line-height: 1.4
}

.secrets .secrets-container .text h3 {
  font-family: 'Playfair Display', serif;
  color: #4b4b4b;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  line-height: 1.3
}

.secrets .secrets-container .columns {
  display: -ms-flexbox;
  display: flex;
  padding: 12px 35px 45px 35px
}

.secrets .secrets-container .columns .recipes, .secrets .secrets-container .columns .news, .secrets .secrets-container .columns .discounts {
  width: 33.33%
}

.secrets .secrets-container .columns h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: #6b6b6b;
  font-weight: bold;
  padding: 20px;
  line-height: 1.4
}

.secrets .secrets-container .columns p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: #6b6b6b;
  line-height: 1.6;
  padding: 20px
}

.signed-up {
  background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.67)), url("../img/footer-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.signed-up .signed-up-container {
  padding: 23px;
  max-width: 1100px;
  margin: 0 auto
}

.signed-up .signed-up-container .text {
  padding: 23px
}

.signed-up .signed-up-container .text h6 {
  font-family: 'Lobster', cursive;
  font-size: 1.1rem;
  color: #bb8840;
  padding: 20px;
  text-align: center;
  padding: 20px
}

.signed-up .signed-up-container .text h1 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  padding: 20px;
  color: #ffffff;
  text-align: center
}

.signed-up .signed-up-container .reviews {
  display: -ms-flexbox;
  display: flex
}

.signed-up .signed-up-container .reviews .stars {
  padding: 20px
}

.signed-up .signed-up-container .reviews .stars img {
  width: 135px
}

.signed-up .signed-up-container .reviews .review {
  background-color: #ffffff;
  margin: 23px 23px 45px 23px;
  padding: 35px 57px
}

.signed-up .signed-up-container .reviews .review p {
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
  padding: 20px;
  color: #6b6b6b;
  line-height: 1.5
}

.signed-up .signed-up-container .reviews .review p span {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif
}

.signed-up .signed-up-container .button {
  width: 440px;
  margin: 0 auto;
  padding: 20px 20px 57px 20px
}

.signed-up .signed-up-container .button a {
  text-decoration: none
}

.signed-up .signed-up-container .button a .yellow-button {
  background-color: #bb8840;
  color: #ffffff;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 24px;
  border-radius: 50px;
  text-align: center
}

.footer-section .footer-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center
}

.footer-section .footer-container .bottom-logo {
  padding: 20px
}

.footer-section .footer-container .bottom-logo img {
  width: 52px;
  margin: 0 auto
}

.footer-section .footer-container .footer-info {
  padding: 20px
}

.footer-section .footer-container .footer-info p {
  font-family: 'Poppins', sans-serif;
  color: #4b4b4b;
  font-size: .9rem
}

@media only screen and (max-width: 765px) {
  .secrets .secrets-container .dot {
    padding: 0 20px 0 20px
  }

  .secrets .secrets-container .text {
    padding: 12px 45px 0 45px
  }

  .secrets .secrets-container .columns {
    display: block;
    padding: 12px 35px 45px 35px
  }

  .secrets .secrets-container .columns .recipes, .secrets .secrets-container .columns .news, .secrets .secrets-container .columns .discounts {
    width: 100%
  }

  .secrets .secrets-container .columns h5 {
    padding: 20px 0 0 20px
  }

  .signed-up .signed-up-container .reviews {
    display: block
  }
}

@media only screen and (max-width: 600px) {
  .header-section .header-container .header-intro {
    padding: 3% 3% 20px 3%
  }

  .header-section .header-container .header-intro h1 {
    font-size: 2rem
  }

  .header-section .header-container .header-intro p {
    font-size: 1.1rem
  }

  .header-section .header-container .button {
    width: auto
  }

  .signed-up .signed-up-container .button {
    width: auto
  }

  .order-in {
    padding: 50px 12px
  }

  .order-in .order-in-container {
    display: block
  }

  .order-in .order-in-container .left-column {
    width: 100%
  }

  .order-in .order-in-container .left-column .food-image {
    text-align: center
  }

  .order-in .order-in-container .left-column .food-image img {
    width: 50%
  }

  .order-in .order-in-container .right-column {
    width: 100%
  }
}
